<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>227C14B31E440CC500B27EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227C14CC1E440CC500B27EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>227C14D71E440CC500B27EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
